<!DOCTYPE html>
<html>
<head>
    <title>{{ site.title }}: {{ page.title}}</title>
    <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet" >
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet" >
    <script src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js"></script>
    <!-- <script	type="module" src="https://gradio.s3-us-west-2.amazonaws.com/4.14.0/gradio.js"></script> -->
</head>
<body>
<main>
    <!-- <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark" style="background-color: #0d2142 !important;">
        <div class="container">
            <a class="navbar-brand">ChatGPT for Policymakers</a>
        </div>
    </nav> -->

    <div class="container-fluid">
        <div class="row flex-nowrap">
            <!-- <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 mx-0" style="background-color:#f1f3f4" id="side-nav"> -->
                <div class="col-md-3 d-flex flex-column flex-shrink-0 align-items-center align-items-sm-start px-3 pt-5 text-white  min-vh-100" style="background-color:#f1f3f4" id="side-nav">
                    <a href="{{site.baseurl}}/" class="align-items-center my-3 mb-md-0 me-md-auto  text-decoration-none link-dark" style="text-align:center;"><span class="fs-1" style="line-height:1.3">ChatGPT for Policymakers</span><br><small style="line-height:2">(And other AI Language Models)</small></a>

                    <hr style="width:80%;height:2px">
                    
                    <ul class="nav nav-pills flex-column mb-auto w-100">
                        <li class="nav-item">
                          <a href="{{site.baseurl}}/" class="nav-link construction {% if page.name == 'index.md'%}active{% endif %}" aria-current="page">
                            Introduction
                          </a>
                        </li>
                        <li>
                          <a href="{{site.baseurl}}/importance" class="nav-link construction {% if page.name == 'importance.md'%}active{% endif %}">
                            Why is this important?
                          </a>
                        </li>
                        <li>
                          <a href="{{site.baseurl}}/how-it-works" class="nav-link construction {% if page.name == 'how-it-works.md'%}active{% endif %}">
                            How does ChatGPT work?
                          </a>
                        </li>
                        <li>
                          <a href="{{site.baseurl}}/access" class="nav-link {% if page.name == 'access.md'%}active{% endif %}">
                            How do I access it?
                          </a>
                        </li>
                        <li>
                          <a href="{{site.baseurl}}/policy-strengths-weaknesses" class="nav-link {% if page.name == 'policy-strengths-weaknesses.md'%}active{% endif %}">
                            Strengths and Weaknesses for Policy Work
                          </a>
                        </li>
                        <li>
                          <a href="{{site.baseurl}}/prompting" class="nav-link {% if page.name == 'prompting.md'%}active{% endif %}">
                            Prompting Strategies
                          </a>
                        </li>
                        <li>
                          <a href="{{site.baseurl}}/cautions-pitfalls" class="nav-link construction {% if page.name == 'cautions-pitfalls.md'%}active{% endif %}">
                            Cautions and Pitfalls
                          </a>
                        </li>
                        <li>
                          <a href="{{site.baseurl}}/biases-equity" class="nav-link construction {% if page.name == 'biases-equity.md'%}active{% endif %}">
                            Biases and Equity Issues
                          </a>
                        </li>
                      </ul>
                </div>
            <!-- </div> -->
            <div class="col-lg-6 py-5 px-5">
                {{ content }}
            </div>
        </div>

    <!-- </div> -->
</main>
</body>
</html>